@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Paytone+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
}

main {
  min-height: 100vh;
}

h1,
h2 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: "Paytone One", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

.button-primary {
  background: #74c69d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 999px;
  border: none;
  color: white;
  display: block;
  font-family: "Paytone One", sans-serif;
  font-size: 2rem;
  padding: 0.8rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  max-width: 35rem;
  width: 100%;
}

/* -------- HOME PAGE -------- */

.home-main {
  background: linear-gradient(180deg, #74c69d 0%, #5214ff 100%);
  padding: 6.2rem 6.4rem;
}

.home-main h1 {
  font-size: 9.6rem;
}

.home-main h1 span {
  display: inline-block;
  /* Animation values */
  transform: scale(0.8);
  visibility: hidden;
}

#name-players {
  margin-top: 8rem;
}

#name-players h2 {
  /* Animation values */
  transform: translateY(8rem);
  visibility: hidden;
}

.name-player {
  margin: 1.4rem auto 0;
  width: 100%;
  /* Animation values */
  transform: translateY(8rem);
  visibility: hidden;
}

.name-player label {
  color: white;
  display: block;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.name-player input {
  background: #ffffff;
  border: none;
  border-radius: 999px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  text-align: center;
  margin: 0.6rem auto 0;
  max-width: 35rem;
  padding: 1.4rem 3.2rem;
  outline: none;
  width: 100%;
}

.name-player input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  opacity: 0.3;
  text-align: center;
}

.play-now-button {
  margin-top: 7.5rem;
  /* Animation values */
  transform: translateY(8rem);
  visibility: hidden;
}

/* -------- BOARD PAGE -------- */

.board-main {
  background: linear-gradient(180deg, #5214ff 0%, #74c69d 100%);
  padding: 10.7rem 2.9rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  margin: 5.4rem auto 0;
  width: max-content;
}

.cell {
  aspect-ratio: 1/1;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 10rem;
  /* Animation values */
  transform: scale(0.8);
  visibility: hidden;
}

#players-turn {
  /* Animation values */
  transform: translateY(8rem);
  visibility: hidden;
}

.cell p {
  font-family: "Paytone One", sans-serif;
  font-size: 9.6rem;
  line-height: 1;
  margin-top: -1rem;
  background: linear-gradient(180deg, #5214ff 0%, #7afbba 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.scores-wrapper {
  margin-top: 5.4rem;
}

.scores-wrapper h2 {
  /* Animation values */
  transform: translateY(8rem);
  visibility: hidden;
}

.scores-wrapper__players-names {
  align-items: center;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 999px;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  max-width: 33rem;
  padding: 0.4rem;
  width: 100%;
  /* Animation values */
  transform: translateY(8rem);
  visibility: hidden;
}

.scores-wrapper__players-names p {
  font-family: "Paytone One", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #5214ff 0%, #74c69d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: 49%;
}

.scores-wrapper__players-names div {
  background: linear-gradient(180deg, #5214ff 0%, #74c69d 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 999px;
  height: 2rem;
  width: 0.2rem;
}

.scores-wrapper__players-scores {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 33rem;
  width: 100%;
  /* Animation values */
  transform: translateY(8rem);
  visibility: hidden;
}

.scores-wrapper__players-scores p {
  color: white;
  font-family: "Paytone One", sans-serif;
  font-size: 4.8rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}

/* Status Overlay */

.state-overlay {
  background: linear-gradient(0.03deg, #5214ff -11.61%, #74c69d 111.61%);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 6.2rem 4rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
}

.state-overlay p {
  align-self: center;
  color: white;
  font-family: "Paytone One", sans-serif;
  font-size: 5.2rem;
  grid-column: 1;
  grid-row: 1 / span 3;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.state-overlay .button-primary {
  align-self: end;
  grid-column: 1;
  grid-row: 3;
}

.lottie-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  z-index: 0;
}
